<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/resume">Resume</a></li>
	        		<li><a href="/blog">Blog</a></li>
				<li>style="text-align:center;">SHREYA PARJAN</li>
	    		</ul>
				
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:sparjan@wellesley.edu">sparjan@wellesley.edu</a></li>
	        		<li><a href="https://github.com/sparjan">github</a></li>
				<li><a href="https://www.linkedin.com/in/shreya-parjan/">linkedin</a></li>
				</ul>
			</footer>
		</body>
	</html>
